/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* General Styles */
:root{
    --font-ubuntu: "Ubuntu", sans-serif;
    --font-open: "Open Sans", sans-serif;
    --font-noto: "Noto Sans", sans-serif;
    --font-mont: "Montserrat", sans-serif;
    
    --c1: #d9d9d9;
    --c2: #f6f2f2;
    --c3: #1F1F1F;
    --c4: #141414;
    --c5: #0d6dfd;
}
.font-open{font-family: var(--font-open);}
.font-ubuntu{font-family: var(--font-ubuntu);}
.font-noto{font-family: var(--font-noto);}
.font-mont{font-family: var(--font-mont);}
.bgc-1{background-color: var(--c1);}
.bgc-2{background-color: var(--c2);}
.bgc-3{background-color: var(--c3);}
.bgc-4{background-color: var(--c4);}
.bgc-5{background-color: var(--c5);}
.clr-1{color: var(--c1);}
.clr-2{color: var(--c2);}
.clr-3{color: var(--c3);}
.clr-4{color: var(--c4);}
.clr-5{color: var(--c5);}

.sweet-bg-1{
    background-color: #ffaa00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbe00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc500' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd914' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe529' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffef3d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff852' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.fpage{width: 100vw; height: 100vh;}
.bannerbg{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}


.progress{
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 2%;
    align-items: center;
    position: relative;
    display: flex;
    height: 40px;
    width: 100%;
}
.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 2%;
    background: var(--c5);
    height: 30px;
    width: var(--wvalue);
}
@keyframes load {
    0% {width: 0px;}
    100% {width: var(--wvalue);}
}

.sidebar{
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    margin: 0 30px;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    background-color: var(--c4);
    font-size: 24pt;
    color: var(--c2) !important;
    -webkit-box-shadow: 0px 6px 12px -10px #000000; 
    box-shadow: 0px 6px 12px -10px #000000;
}
.sidebar-item{padding-bottom: 5px; border-top: solid 3px var(--c3);}
.sidebar-item > a{color: var(--c2) !important;}
.sidebar-item > a:hover{color: var(--c1) !important;}

.bottombar{
    width: 100%;
    height: fit-content;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    background-color: var(--c4);
    -webkit-box-shadow: 0px 6px 12px -10px #000000; 
    box-shadow: 0px 6px 12px -10px #000000;
}
.bottombar > a{
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    padding: 5px 40px;
    margin: 0 20px;
    color: var(--c2);
}



.content-frame{
    width: 90%;
    min-height: 100%;
    margin-right: 10px;
    overflow: auto;
}
.main-cell{
    width: 100%;
    border-radius: 5px;
    background-color: var(--c4);
    color: var(--c2);
    -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.66);
    padding: 8px;
}
.single-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}




/* Index Page */
#taken-lessons, #account-details, #notifications{height: 40vh;}
#taken-lessons{overflow-x: scroll;}
#notifications{overflow-y: scroll;}

.takenlect-wrapper{
    height: 100%;
    width: fit-content;
    display: flex;
}
.takenlect-item{
    width: 300px;
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.takenlect-title{
    height: 22%;
    padding: 10px 0;
    text-align: center;
    font-family: var(--font-mont);
    text-transform: uppercase;
    font-size: 13pt;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.takenlect-link{
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-button, .takenlect-link > a{
    color: var(--c4) !important;
    background-color: var(--c5) !important;
    text-decoration: none !important;
    padding: 5px 8px !important;
    border-radius: 20px !important;
    margin-right: 10px !important;
    transition: color 0.2s ease-in-out;
}
.yellow-button:hover, .takenlect-link > a:hover{color: var(--c2) !important; transition: color 0.2s ease-in-out;}


.accountcard-wrapper{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.accountcard-pfp{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pfp-circle{
    height: 100%;
    width: 160px;
    border-radius: 100%;
    /* background-color: var(--c5); */
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    -webkit-box-shadow: 0px 6px 12px -10px #000000; 
    box-shadow: 10px 6px 30px -10px #000000;         
}

.accountcard-name{
    height: 25%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.accountcard-link{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Profile Page */
.profile-banner{
    width: 100%;
    height: 300px;
}   
.profile-name-pfp{
    width: 100%;
    height: fit-content;
    position: relative;
    top: -150px;
}
.profile-lesson-item{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    height: fit-content;
    border-bottom: solid 0.3px rgba(220, 220, 220, 0.2) ;
}
.profile-lesson-image{
    height: 128px;
    width: 25%;
}
.profile-lesson-content{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 75%;
}


/* Lesson Sets Page */
.course-item{
    width: 100%;
    position: relative;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--c3);
}
.course-link{
    height: 48px;
    display: flex; 
    background-color: var(--c4);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}.course-link > a{
    width: 25%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: var(--c2);
    font-size: 1.6rem;
    border-right: solid 0.5px rgba(217, 217, 217, 0.39);
}.course-link > a:hover{
    color: var(--c5);
}.course-link > a:last-child{border-right: none;}



/* All Profiles Page */
#profile-showcase .pfp-circle{width: 100% !important; height: 290px !important; margin: 0 auto;}












/* Login Page */
#loginarea-wrapper{
    width: fit-content;
    padding: 30px;  
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.56);
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.56);
    border-radius: 10px;
}
#loginarea-header{
    margin-bottom: 25px;
    padding-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    border-bottom: solid 0.5px rgba(50, 50, 50, 0.56);
}
#loginarea-form input{padding-right: 60px;}







/* THINGS */
.content-frame > .container-fluid::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--c4);
}
.content-frame > .container-fluid::-webkit-scrollbar
{
	height: 5px;
	background-color: #F5F5F5;
}
.content-frame > .container-fluid::-webkit-scrollbar-thumb
{
	background-color: var(--c3);	
}




/*====RESPONSIVE====*/
@media only screen and (min-width: 0px) and (max-width: 767.98px){ /* Small (Phone) */
    .profile-lesson-image{width: 70%; height: 256px;}
    .fpage{width: 100vw; min-height: 100vh; height: fit-content; margin-bottom: 100px;}
    #profile-showcase .pfp-circle{width: 50% !important; height: 290px !important;}
}


@media only screen and (min-width: 768px) and (max-width: 991.98px){ /* Medium (Tablet) */
    .profile-lesson-image{width: 70%; height: 256px;}
    .fpage{width: 100vw; min-height: 100vh; height: fit-content; margin-bottom: 100px;}
    #profile-showcase .pfp-circle{width: 35% !important; height: 290px !important;}
    
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px){ /* Lg (Small Desktop) */
    .fpage{width: 100vw; height: 100vh;}
}


@media only screen and (min-width: 1200px) and (max-width: 1399.98px){ /* Xl (Medium Desktop) */
    .fpage{width: 100vw; height: 100vh;}
}

/* ... XXL (Large Desktop) (Default Settings) >= 1400 */