{% extends 'partials/_base.html' %}
{% load static %}
{% load profileproc %}

{% block content %}
    <section class="fpage d-flex justify-content-center justify-content-lg-end">
        <div class="content-frame">
            <div class="container-fluid p-0 bgc-4 clr-2 h-100 overflow-auto">
                <div class="profile-banner bannerbg" style="background: url({% static 'img/wp1.jpg' %});"></div>
                <div class="profile-name-pfp d-flex justify-content-lg-between flex-column flex-lg-row align-items-center align-items-lg-end">
                    <div class="pfp-circle mx-4"
                        style="background-image: url({{ user.accprofile.pfp.url }}); width: 250px !important; height: 250px;"></div>
                    <div class="accountcard-name py-3 px-4" style="height: fit-content !important;">
                        <span class="font-open fw-bolder text-center fs-3">{{ user.accprofile.name_surname }}</span>
                        <span class="font-open fw-bold fs-6 text-center text-lg-end">{{ user.accprofile.unitname }}</span>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-8 p-3">
                            <div class="main-cell">


                                {% for tknlec in user.accprofile.lecturelist.all %}

                                        <div class="profile-lesson-item flex-column flex-lg-row">
                                            <div class="profile-lesson-image bannerbg mb-4 mb-lg-0"
                                                style="background: url({{tknlec.banner.url}});"></div>
                                            <div class="profile-lesson-content">
                                                <div class="progress">
                                                    <div class="progress-value" style="--wvalue: {{tknlec.slug|percent:user.accprofile}}%;"></div>
                                                </div>
                                                <span class="font-mont fs-5 py-2">{{tknlec.title}}</span>
                                                <span class="font-open fs-6 py-2"> 
                                                    <b>Kalınan Video: </b> 
                                                    {{tknlec.slug|nextvideo:user.accprofile}} </span>
                                                <span class="font-open fs-6 py-2"> 
                                                    <b> İlerleme: </b> 
                                                     {{tknlec.slug|percent:user.accprofile}}% </span>
                                            </div>
                                        </div>

                                {% endfor %}

                            </div>
                        </div>
                        <div class="col-12 col-lg-4 p-3">
                            <div class="main-cell">
                                <div class="d-flex flex-column">
                                    <span class="font-noto text-center pb-3 fs-5 fw-bolder">ARMALAR</span>
                                    <div class="container-fluid">
                                        <div class="row d-flex justify-content-center">
                                            {% for thearma in user.accprofile.arma.all%}
                                            <div class="col-3 py-2"> <img src="{{ thearma.armaimage.url }}" style="width: 100%;"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 p-3">
                            <div class="main-cell">
                                <table class="table text-light">
                                    <thead>
                                        <tr>
                                            <th scope="col">Soru</th>
                                            <th scope="col">Cevap</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">İSİM SOYİSİM:</th>
                                            <td>{{ user.accprofile.name_surname }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">SINIF-NUMARA:</th>
                                            <td> <b class="badge bg-secondary"> {{ user.accprofile.classname }} </b> <b class="badge bg-secondary"> {{ user.accprofile.schoolno }} </b></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">DOĞUM TARİHİ:</th>
                                            <td>{{ user.accprofile.birthday }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">İKÂMETGAH:</th>
                                            <td>{{ user.accprofile.place }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">ALERJİ:</th>
                                            <td>{{ user.accprofile.allergy }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 p-3">
                            <div class="main-cell">
                                <div class="d-flex flex-column">
                                    <span class="font-noto text-center pb-3 fs-5 fw-bolder">PORTFOLYO</span>
                                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                                        <i class="bi bi-exclamation-circle-fill fs-5 px-2"></i>
                                        <div>
                                            Henüz Bu Alana Bir Proje Yerleştirilmemiştir.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
